tensorflow
abseil-cpp
asttokens
astunparse
async-timeout
babel
beautifulsoup4
bleach
blinker
bottleneck
c-ares
ca-certificates
cachetools
certifi
charset-normalizer
cycler
debugpy
decorator
defusedxml
eigen
exceptiongroup
executing
ffmpeg
flatbuffers
freetype
frozenlist
gettext
gettext-tools
google-auth
google-auth-oauthlib
google-pasta
gst-plugins-base
gstreamer
intel-openmp
ipykernel
itsdangerous
jedi
jpeg
jsonschema
jsonschema-specifications
jupyter-lsp
jupyter_client
jupyter_core
jupyter_events
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keras
keras-preprocessing
kiwisolver
lerc
libasprintf-devel
libbrotlidec
libbrotlienc
libdeflate
libgettextpo
libgettextpo-devel
libintl-devel
libwebp
libwebp-base
markupsafe
matplotlib-base
matplotlib-inline
mistune
mkl-service
munkres
nbclient
nbconvert
nest-asyncio
notebook
notebook-shim
numexpr
numpy-base
opencv
openjpeg
openssl
opt_einsum
overrides
pandocfilters
pcre2
prometheus_client
pure_eval
pyasn1-modules
pycparser
pyopenssl
python-dateutil
python-fastjsonschema
python-flatbuffers
python-json-logger
qt-webengine
qtwebkit
re2
referencing
requests
requests-oauthlib
send2trash
setuptools
soupsieve
sqlite
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-base
tensorflow-estimator
termcolor
terminado
traitlets
typing-extensions
typing_extensions
vc14_runtime
vs2015_runtime
webencodings
websocket-client
werkzeug
wheel
win_inet_pton
zeromq
gunicorn
Flask
